api:
  key: 064C44F2A5AF42D3A17BD90431941F6B
appearance:
  name: octo
plugins:
  HeaterTimeout:
    _config_version: 2
  active_filters_extended:
    activeFilters:
    - '(Send: (N\d+\s+)?M105)|(Recv:\s+(ok\s+([PBN]\d+\s+)*)?([BCLPR]|T\d*):-?\d+)'
  announcements:
    _config_version: 1
    channels:
      _blog:
        read_until: 1765879200
      _important:
        read_until: 1698310200
      _octopi:
        read_until: 1746515700
      _plugins:
        read_until: 1765324800
      _releases:
        read_until: 1764593700
  bedlevelvisualizer:
    _config_version: 1
    command: "@BEDLEVELVISUALIZER\t; instruct plugin to start recording responses\
      \ from printer.\nBED_MESH_OUTPUT\t\t; report the bed leveling mesh points."
    descending_y: true
    graph_z_limits: -0.5,0.5
    mesh_timestamp: 8/10/2025, 3:18:08 PM
    screw_hub: 0.7
    show_stored_mesh_on_tab: true
    showdegree: true
    stored_mesh:
    - - '0.030000'
      - '0.024000'
      - '0.014444'
      - '0.010000'
      - '0.018963'
      - '0.035037'
      - '0.045000'
      - '0.046833'
      - '0.047556'
      - '0.047500'
      - '0.045519'
      - '0.042093'
      - '0.040000'
    - - '0.014463'
      - '0.010950'
      - '0.005462'
      - '0.003352'
      - '0.011594'
      - '0.025939'
      - '0.034907'
      - '0.037300'
      - '0.039221'
      - '0.040148'
      - '0.039918'
      - '0.039204'
      - '0.038741'
    - - '-0.011296'
      - '-0.010320'
      - '-0.008475'
      - '-0.006407'
      - '0.000323'
      - '0.011201'
      - '0.018148'
      - '0.021422'
      - '0.025339'
      - '0.027907'
      - '0.030577'
      - '0.034357'
      - '0.036593'
    - - '-0.027500'
      - '-0.022241'
      - '-0.013426'
      - '-0.007500'
      - '-0.002981'
      - '0.003315'
      - '0.007500'
      - '0.011148'
      - '0.016352'
      - '0.020000'
      - '0.024481'
      - '0.031074'
      - '0.035000'
    - - '-0.033833'
      - '-0.016529'
      - '0.011758'
      - '0.027944'
      - '0.022685'
      - '0.010206'
      - '0.002778'
      - '0.005351'
      - '0.011350'
      - '0.015759'
      - '0.020570'
      - '0.027674'
      - '0.031907'
    - - '-0.040278'
      - '-0.004245'
      - '0.054307'
      - '0.086389'
      - '0.065587'
      - '0.023353'
      - '-0.002500'
      - '-0.001820'
      - '0.005124'
      - '0.010519'
      - '0.015614'
      - '0.023187'
      - '0.027704'
    - - '-0.042500'
      - '0.003167'
      - '0.077278'
      - '0.117500'
      - '0.088481'
      - '0.030574'
      - '-0.005000'
      - '-0.005500'
      - '0.001667'
      - '0.007500'
      - '0.013352'
      - '0.022204'
      - '0.027500'
    - - '-0.033463'
      - '0.001611'
      - '0.058552'
      - '0.089537'
      - '0.067830'
      - '0.024301'
      - '-0.002463'
      - '-0.003219'
      - '0.001754'
      - '0.006759'
      - '0.017346'
      - '0.034212'
      - '0.044389'
    - - '-0.017537'
      - '-0.002496'
      - '0.021987'
      - '0.035574'
      - '0.028124'
      - '0.012497'
      - '0.002852'
      - '0.001929'
      - '0.003122'
      - '0.006574'
      - '0.024692'
      - '0.054325'
      - '0.072278'
    - - '-0.007500'
      - '-0.004833'
      - '-0.000389'
      - '0.002500'
      - '0.004167'
      - '0.006278'
      - '0.007500'
      - '0.006463'
      - '0.005204'
      - '0.007500'
      - '0.029426'
      - '0.065574'
      - '0.087500'
    - - '-0.004407'
      - '-0.002929'
      - '-0.000340'
      - '0.001833'
      - '0.006348'
      - '0.013364'
      - '0.017463'
      - '0.016146'
      - '0.013581'
      - '0.014352'
      - '0.031415'
      - '0.059743'
      - '0.076944'
    - - '-0.001537'
      - '0.000721'
      - '0.004685'
      - '0.008056'
      - '0.015312'
      - '0.026593'
      - '0.033093'
      - '0.031349'
      - '0.027168'
      - '0.025648'
      - '0.033670'
      - '0.047369'
      - '0.055722'
    - - '0.000000'
      - '0.002981'
      - '0.008185'
      - '0.012500'
      - '0.021241'
      - '0.034759'
      - '0.042500'
      - '0.040500'
      - '0.035389'
      - '0.032500'
      - '0.034944'
      - '0.039611'
      - '0.042500'
    stored_mesh_x:
    - 0
    - 18
    - 37
    - 55
    - 73
    - 92
    - 110
    - 128
    - 147
    - 165
    - 183
    - 202
    - 220
    stored_mesh_y:
    - 0
    - 19
    - 38
    - 57
    - 76
    - 95
    - 115
    - 134
    - 153
    - 172
    - 191
    - 210
    - 229
    stored_mesh_z_height: 259
  classicwebcam:
    _config_version: 1
    snapshot: http://127.0.0.1:8080/?action=snapshot
    stream: /webcam/?action=stream
    streamRatio: '4:3'
  cura:
    cura_engine: null
  discovery:
    publicPort: 80
    upnpUuid: 2d1e6325-9111-4f05-91a1-23c5150a5167
  errortracking:
    unique_id: 7f594aee-702d-40de-ac34-65eeb8f7e414
  firmwareupdater:
    _config_version: 3
    _selected_profile: 0
    has_bftcapability: true
    profiles:
    - _id: 0
      _name: Default
  gcodeviewer:
    _config_version: 1
  klipper:
    _config_version: 4
    configuration:
      config_path: /home/laenzi/printer_data/config/
      logpath: /home/laenzi/printer_data/logs/klippy.log
    connection:
      port: /home/laenzi/printer_data/comms/klippy.serial
  octoapp:
    encryptionKey: f16c60c3-9f88-40f4-be80-a2ffec95b293
  pi_support:
    ignore_undervoltage_on_printstart: true
  pluginmanager:
    repository_restricted: false
  resource_monitor:
    _config_version: 2
  softwareupdate:
    _config_version: 9
  tracking:
    enabled: true
    unique_id: f0395568-4efc-4e0c-b571-83b955aa5677
  uicustomizer:
    gcodeZoom: 1
    mainTabs:
    - - control_link
      - true
      - false
      - fas fa-expand-arrows-alt
      - true
      - false
    - - temp_link
      - true
      - false
      - fas fa-thermometer-half
      - true
      - false
    - - term_link
      - true
      - false
      - fas fa-terminal
      - true
      - false
    - - gcode_link
      - true
      - false
      - fab fa-codepen
      - true
      - false
    - - tab_plugin_bedlevelvisualizer_link
      - true
      - false
      - false
      - textOnly
      - '#000000'
    - - timelapse_link
      - true
      - false
      - false
      - textOnly
      - '#000000'
    - - tab_plugin_resource_monitor_link
      - true
      - false
      - false
      - textOnly
      - '#000000'
    - - tab_plugin_klipper_main_link
      - true
      - false
      - false
      - textOnly
      - '#000000'
    rows:
    - _00#state_wrapper: true
      _01#files_wrapper: true
      _02#sidebar_plugin_firmware_check_warning_wrapper: false
      _03#sidebar_plugin_firmware_check_info_wrapper: false
      _04#sidebar_plugin_klipper_wrapper: true
    - _00div.UICmainTabs: true
    - _00#UICGcodeVWidget: true
      _01#UICTempWidget: true
      _02#UICWebCamWidget: true
      _03#sidebar_plugin_action_command_notification_wrapper: true
    theme: discorded
    themeLocal: false
    themeVersion: 0.2.9.8
    topIconSort:
    - navbar_plugin_firmwareupdater
    - navbar_plugin_action_command_prompt
    - navbar_plugin_logging_seriallog
    - navbar_plugin_logging_plugintimingslog
    - navbar_plugin_pi_support
    - navbar_plugin_health_check
    - navbar_plugin_klipper
    widths:
    - '3'
    - '6'
    - '3'
  virtual_printer:
    _config_version: 1
printerProfiles:
  default: _default
serial:
  additionalPorts:
  - /home/laenzi/printer_data/comms/klippy.serial
  - /tmp/printer
  autoconnect: true
  baudrate: 250000
  disconnectOnErrors: false
  enableShutdownActionCommand: true
  sdCancelCommand: M524
  timeout:
    temperature: 10.0
    temperatureTargetSet: 10.0
server:
  commands:
    serverRestartCommand: sudo service octoprint restart
    systemRestartCommand: sudo shutdown -r now
    systemShutdownCommand: sudo shutdown -h now
  firstRun: false
  onlineCheck:
    enabled: true
    host: 8.8.8.8
  pluginBlacklist:
    enabled: true
  secretKey: C8IV33fA2fqF1xS0AyqamrDUSrgbP3Yz
  seenWizards:
    backup: null
    classicwebcam: 1
    corewizard: 4
    file_check: 1
    tracking: null
temperature:
  profiles:
  - bed: 100
    chamber: null
    extruder: 210
    name: ABS
  - bed: 60
    chamber: null
    extruder: 210
    name: PLA
webcam:
  ffmpeg: /usr/bin/ffmpeg
  watermark: false
